header{
    background-color: #0C3B45;
    color: white;
    text-align: center;
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 0.5; 
    
}

body {
    background-color: lightblue;
}
h1 {
    color: #CFF0EA;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    line-height: 0.5;    
}

h2 {
    color: #20666B;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;    
}

h3 {
    color: #FFFF center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;    
}

p {
    font-size: 18px;
    color:#3E9B94;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;  
}

nav a{
    color: white;
    text-decoration: none;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 0.5;
}

section{
    background: white;
    margin: 50px;
    padding: 25px;
    border-radius: 20px;
    color:#3E9B94;
}

footer{
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 15px;
}

nav {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.inicio {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}
.juegos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.manuales {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.contacto {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

@media(max-width:600px){
    .inicio{
        flex-direction:column;
    }
}

@media(max-width:600px){
    .juegos{
        flex-direction:column;
    }
}

@media(max-width:600px){
    .manuales{
        flex-direction:column;
    }
}

@media(max-width:600px){
    .contacto{
        flex-direction:column;
    }

.oscuro {
    background-color: #222;
    color: white;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

}

.error {
    color: red;
    font-weight: bold;
    background-color: #ffe5e5;
    border: 1px solid red;
    padding: 10px;
    margin-top: 10px;
}

.exito {
    color: green;
    font-weight: bold;
    background-color: #e5ffe5;
    border: 1px solid green;
    padding: 10px;
    margin-top: 10px;
}